/* Create a responsive navigation bar that uses FlexBox. This was designed with the mobile-first approach.
   The navbar will arranged in 1 column with 5 items when screen size is less than 768px (mobile screens)
   The navbar will be arranged in 1 row with 5 items when screen size is more than 768px (tablets and wider screens)
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
.container {
  padding: 1rem;
}

.container ul {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 1rem;
  list-style: none;
  text-align: center;
}

.container li {
  margin: 0.5rem;
}

.container a {
  color: white;
  text-decoration: none;
}

.container a:hover {
  color: dodgerblue;
}

@media screen and (min-width: 768px) {
  .container ul {
    flex-direction: row;
    justify-content: flex-end;
  }
}
